.about_section{
    /* min-height: 100vh; */
    margin-top: 3rem;
    
}
.about_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0
    
}


.photo {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
    border-radius: 50%;
}
.photo img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

.location_title{
    color: var(--theme-color) !important;
    font-size: 0.8rem
}
.about_text{
    font-size: 0.9rem;
    line-height: 24px;
    /* font-weight: bold */
}

.about_pills{
    margin-top: 2rem
}
.about_pills .col{
    display: flex;
    margin-top: 1rem;
    justify-content: center;
}

.about_pills .col p{
    margin: 0
}

.about_pills .icon_circle{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--theme-color);
}
.icon_circle i{
    font-size: 1.4rem;
}
.media-body p{
    margin: 0;
    font-size: 1rem;
    /* font-weight: bold; */
}
.media-body span{
    color: var(--theme-color) !important
}
.intrest_pills .media{
    align-items: center;
    background: var(--first-color);
    justify-content: center;
    height: 3rem;
    border-radius: 0.5rem;
    transition: all .5s;
}
.intrest_pills .col .icon_circle{
    position: relative;
    margin-left: 1rem;
}
.intrest_pills .col .icon_circle::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 180%;
    background: var(--dark-color);
    top: -41%;
    right: -65%;
}
.intrest_pills .media-body{
    margin-left: 1rem;
}
.intrest_pills .col{
    padding: 1.3rem;
}
.intrest_pills i{
    color: var(--theme-color)
}

.intrest_pills .media:hover{
    background: transparent
}