<div class="toast" style="position: fixed; top: 4%; right: 4%; color:black">
    <div class="toast-header">
        <strong class="mr-auto">Milan Raval</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
       {{mailSendText}}
    </div>
</div>
<section class="about_section slide-top">
    <div class="container my_container">
        <div class="col-lg-12 col-sm-12 about_container">
            <div class="title_container  main_title">
                <h2 class="title">Contact</h2>
                <span></span>
            </div>
            <div class="black_box contract_form">
                <form #sendMailForm="ngForm" (ngSubmit)="onSendMessage(sendMailForm)">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2">
                        <div class="col input_div">
                            <input class="float_input" #name="ngModel" ngModel type="text" id="name" name="name" required>
                            <label class="floating_place_holder">Enter your Name</label>
                            <span class="border_bottom"></span>
                            <small class="text-danger" [class.d-none]="name.valid || (name.untouched && isFormvalid)">Please Provide Your Name</small>
                        </div>
                        <div class="col input_div">
                            <input type="email" id="email" #email="ngModel" ngModel name="email" class="float_input" required>
                            <label class="floating_place_holder">Enter your Email</label>
                            <span class="border_bottom"></span>
                            <small class="text-danger" [class.d-none]="email.valid || (email.untouched && isFormvalid)">Please Provide Your Email</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 input_div">
                            <textarea class="float_input" type="text" #message="ngModel" id="message" ngModel name="message" required></textarea>
                            <label class="floating_place_holder text_area_label">Enter your Message</label>
                            <span class="border_bottom text_area_span"></span>
                            <small class="text-danger" [class.d-none]="message.valid || (message.untouched && isFormvalid)">Please Provide Message</small>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 submit_btn_div">
                            <button type="submit" class="btn"><span> Send Message</span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container my_container">
        <!-- Stack the columns on mobile by making one full-width and the other half-width -->
        <div class="black_box">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3">
                <div class="col contact_div">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    <h5>milanraval008@gmail.com</h5>
                    <span>Email</span>
                </div>
                <div class="col contact_div">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <h5>Bangalore, India</h5>
                    <span>Addres</span>
                </div>
                <div class="col contact_div">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <h5>(+91) 8904851640</h5>
                    <span>Phone</span>
                </div>
            </div>
        </div>
    </div>

</section>