.float_input{
    width: 100%;
    padding: 0.5rem;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--third-color);
    outline: none;
    color:var(--text-color) !important;
}
.input_div{
    position: relative;
    margin-top: 2rem;
    
}
.floating_place_holder {
    position: absolute;
    top: 33%;
    left: 3%;
    margin: 0;
    padding: 0;
    pointer-events: none;
    transition: 0.2s ease all;
}

.border_bottom{
    position: absolute;
    top: 97%;
    left: 3%;
    opacity: 0.5;
    height: 2px;
    width: 0;
    background: var(--theme-color);
    pointer-events: none;
    transition: 0.2s ease all;
}



.float_input:focus~.floating_place_holder,
.float_input:not(:focus):valid~.floating_place_holder {
    top: -40%;
    font-size: 11px;
    opacity: 0.5;
    left: 4%;
}

.float_input:focus~.border_bottom,
.float_input:not(:focus):valid~.border_bottom {
    width: 95%;
}

.text_area_label{
    left: 1.7%;
}


.float_input:focus~.text_area_label,
.float_input:not(:focus):valid~.text_area_label{
    top: -26%;
    left: 2%;
}
.text_area_span{
    top: 89%;
    left: 1.5%;
}

.submit_btn_div{
    text-align: center;
    margin-top: 2rem;
}

.contact_div{
    text-align: center;
    line-height: 3rem
}

.contact_div i{
    font-size: 2rem;
    padding-bottom: 2rem;
}

.contact_div span{
    color: var(--fourth-color) !important
}

.input_div small{
    position: absolute;
    width: 100%;
    top: 100%;
    left: 3%;
    /* color: red !important; */
    font-weight: bold;
}