<div class="container-fluid">
    <div class="row flex-xl-nowrap justify-content-center">
        <div class="col-md-1 col-xl-1 bd-sidebar">
            <app-sidebar></app-sidebar>
        </div>
        <main class="col-md-11 col-xl-11" role="main">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>

<section class="theme_section" [ngStyle]="{'transform':'translateX('+toggleThemeBar+')'}">
    <div class="theme_container">
        <div class="setting_icon" (click)="toggleThemeBar = (toggleThemeBar == '0' ? '100%' : '0')">
                <div class="spinner_container animation_spinner">
                        <div class="shape shape1"></div>
                        <div class="shape shape2"></div>
                        <div class="shape shape3"></div>
                        <div class="shape shape4"></div>
                      </div>
        </div>
        <div class="theme_content">
            <div class="name_section common_div">
                <h5>Milan</h5>
            </div>
            <div class="theme_style_section common_div">
                <h6>Theme Style</h6>
                <div class="theme_style_inner">
                    <div (click)="onThmeStyleChange('darkTheme')">
                            <i class="fa fa-moon-o mr-1" aria-hidden="true"></i>
                            Dark
                    </div>
                    <div (click)="onThmeStyleChange('lightTheme')">
                            <i class="fa fa-lightbulb-o mr-1" aria-hidden="true"></i>
                            Light
                    </div>
                </div>
            </div>
            <div class="theme_color_section common_div">
                <h6>Theme Color</h6>
                <div class="theme_color_inner" (click)="onThemeColorChange($event)">
                        <div class="round green" id="#25ca7f"></div>
                        <div class="round blue" id="#00a3e1"></div>
                        <div class="round red" id="#d94c48"></div>
                        <div class="round purple" id="#bb68c8"></div>
                        <div class="round light_blue" id="#0dcdbd"></div>
                        <div class="round yellow" id="#eae328"></div>
                    </div>
            </div>
        </div>
    </div>
</section>