<div class="resume_section my_container slide-in-right">
    <div class="title_container  main_title">
        <h2 class="title">Resume</h2>
        <span></span>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="title_container sub_title">
                    <h2 class="title">Experience</h2>
                    <span></span>
                </div>
                <div class="black_box">
                    <div class="row item" *ngFor="let config of experienceConfig">
                        <div class="col timeline">
                            <span></span>
                        </div>
                        <div class="col-11 timeline_text">
                            <h5 class="mt-0">{{config.role}}</h5>
                            <p class="subtitle">
                                <i class="fa fa-calendar mr-1" aria-hidden="true"></i>
                                {{config.duration}} | {{config.companyName}}</p>
                            <div class="about_text">
                                <ul>
                                    <li *ngFor="let cont of config.content">
                                        <span> {{cont.point}}</span>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="title_container sub_title">
                    <h2 class="title">Education</h2>
                    <span></span>
                </div>
                <div class="black_box">
                    <div class="row item" *ngFor="let config of educationConfig">
                        <div class="col timeline">
                            <span></span>
                        </div>
                        <div class="col-11 timeline_text">
                            <h5 class="mt-0">{{config.degree}}</h5>
                            <p class="subtitle">
                                <i class="fa fa-calendar mr-1" aria-hidden="true"></i>
                                {{config.duration}} | {{config.college}}</p>
                            <div class="about_text">
                                <ul>
                                    <li *ngFor="let cont of config.content">
                                        <span> {{cont.point}}</span>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container my_container">
        <div class="title_container">
            <h2 class="title">Skills</h2>
            <span></span>
        </div>
        <div class="black_box">
            <div class="container skill_pill">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4">
                    <div class="col" *ngFor="let int of skillConfig">
                        <div class="media">
                            <div class="mr-3 icon_circle">
                                <i [class]="int.iconName" aria-hidden="true"></i>
                            </div>
                            <div class="media-body">
                                <p class="mt-0">{{int.title}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="black_box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-12" style="padding: 0 3rem 0 0;">
                        <div class="skill_item" *ngFor="let conf of skillsBarConfig">
                            <h6 class="progress_title">{{conf.name}}</h6>
                            <div class="progress">
                                <div class="progress-bar" [style.width]="conf.percentage">
                                    <div class="progress_value" [style.margin-left]="conf.percentage">
                                        <span>{{conf.percentage}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="row row-cols-1 row-cols-sm-2 pie_chart">
                            <div class="col">
                                <div class="chart" data-percent="75">
                                    <h4>85%
                                        <p>NODEJS</p>
                                    </h4>
                                </div>
                            </div>
                            <div class="col">
                                <div class="chart" data-percent="80">
                                    <h4>80%
                                        <p>ANGULAR</p>
                                    </h4>
                                </div>
                            </div>
                            <div class="col">
                                <div class="chart" data-percent="85">
                                    <h4>75%
                                        <p>MONGODB</p>
                                    </h4>
                                </div>
                            </div>
                            <div class="col">
                                <div class="chart" data-percent="70">
                                    <h4>70%
                                        <p>PWA</p>
                                    </h4>
                                </div>
                            </div>
                            <div class="col">
                                <div class="chart" data-percent="40">
                                    <h4>40%
                                        <p>NGINX</p>
                                    </h4>
                                </div>
                            </div>
                            <div class="col">
                                <div class="chart" data-percent="40">
                                    <h4>40%
                                        <p>DOCKER</p>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>



</div>