<div class="container my_container slide-in-left">
    <div class="title_container">
        <h2 class="title">Portfolio</h2>
        <span></span>
    </div>

    <div class="container">
        <div class="row item d-flex">
            <div class="col-lg-6 col-md-6 d-none d-md-block d-lg-block right">
                <a href="">
                    <img src="../../../assets/images/home-bg.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 left">
                <!-- <div class="d-none d-sm-block d-xs-block d-md-none d-lg-none">
                    <img src="../../../assets/images/home-bg.jpg" alt="">
                </div> -->
                <div class="port_container">
                    <span>Featured Project</span>
                    <h4>Facebook Clone</h4>
                    <div class="description" [ngClass]="{'translate-left':true}"><span>A nicer look at your GitHub profile and repo stats. Includes data visualizations of your top languages,
                            starred repositories, and sort through your top repos by number of stars, forks, and size.
                        </span></div>
                    <div>
                        <ul>
                            <li>Node.js 1</li>
                            <li>Node.js 2</li>
                            <li>Node.js 3 </li>
                            <li>Node.js 4</li>
                            <li>Node.js 4</li>
                        </ul>
                    </div>
                    <div>
                        <a href="">
                            <i class="fa fa-github mr-3" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-external-link" aria-hidden="true"></i>
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <div class="row item d-flex" [ngClass]="{'flex-row-reverse':true}">
            <div class="col-lg-6 col-md-6 d-none d-md-block d-lg-block">
                <a href="">
                    <img src="../../../assets/images/home-bg.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="port_container ">
                    <span>Featured Project</span>
                    <h4>Facebook Clone</h4>
                    <div class="description">A nicer look at your GitHub profile and repo stats. Includes data visualizations of your top languages,
                        starred repositories, and sort through your top repos by number of stars, forks, and size.</div>
                    <div>
                        <ul>
                            <li>Node.js 1</li>
                            <li>Node.js 2</li>
                            <li>Node.js 3 </li>
                            <li>Node.js 4</li>
                        </ul>
                    </div>
                    <div>
                        <a href="">
                            <i class="fa fa-github mr-3" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-external-link" aria-hidden="true"></i>
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <div class="row item d-flex">
            <div class="col-lg-6 col-md-6 d-none d-md-block d-lg-block">
                <a href="">
                    <img src="../../../assets/images/home-bg.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="port_container">
                    <span>Featured Project</span>
                    <h4>Facebook Clone</h4>
                    <div class="description" [ngClass]="{'translate-left':true}">A nicer look at your GitHub profile and repo stats. Includes data visualizations of your top languages,
                        starred repositories, and sort through your top repos by number of stars, forks, and size.</div>
                    <div>
                        <ul>
                            <li>Node.js 1</li>
                            <li>Node.js 2</li>
                            <li>Node.js 3 </li>
                            <li>Node.js 4</li>
                        </ul>
                    </div>
                    <div>
                        <a href="">
                            <i class="fa fa-github mr-3" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-external-link" aria-hidden="true"></i>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>