.port_container{
    text-align: right;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0
}

.port_container span{
    color: var(--theme-color) !important
}
.description{
    padding: 1rem;
    text-align: left;
    width: 122.5%;
    background: var(--third-color);
    margin: 1.2rem 0;
}
.translate-left{
    transform: translateX(-7rem);
}
.translate-right{
    transform: translateX(7rem);
}

.port_container ul{
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
 }
 .port_container ul li{
   color: var(--theme-color) !important;
   padding: 0 5px
 }
 /* .port_container ul li:not(:first-child):not(:last-child){
     margin: 0 1rem
  } */

 .port_container i{
    font-size: 1.3rem;
 }

 .item{
     margin: 5rem 0;
 }
 .flex-row-reverse .port_container{
     text-align: left
 }
 .item img{
    filter: grayscale(100%) contrast(1) brightness(90%);
    transition: all .3s
 }
 .item img:hover{
    filter: grayscale(0)
 }

 .filter{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
 }
 .filter ul{
    display: flex;
    justify-content: center;
    max-width: 30rem;
    background: var(--dark-color);
    align-items: center;
    margin: 0;
    border-radius: 1.5rem;
    list-style: none;
    font-size: 1rem;
    flex-wrap: wrap;
 }
 .filter input[type="radio"]{
     display: none
 }
 .filter ul li{
    margin: 0;
 }
 .filter input[type="radio"]:checked~label{
    background: var(--theme-color);
    color: #18191a !important;
 }
 .filter ul li label{
    padding: 0.6rem 1rem;
    margin: 0;
    border-radius: 1.5rem;
    cursor: pointer;
    font-weight: bold;
    transition: all .5s
    
 }

.img_container{
    height: 85%;
}

 @media only screen and (max-width: 765px) {
    .port_container, .flex-row-reverse .port_container{
      text-align: center
    }
    .description{
        transform: translateX(0);
        width: 100%;
        background: var(--dark-color);
    }
    .port_container{
        background: var(--dark-color);
    }
  }
